.about-us-background-image {
  background-image: url("/images/about-us.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  position: relative;
}

.about-us-col-padding {
  padding: 80px 0;
}

.about-us-title-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
}

.about-us-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #ffffff;
}

.about-us-paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #ffffff;
  padding-left: 30px;
}
