@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 240, 100%, 35.39%;
  --hover-primary: 240, 100%, 30.39%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --warning: 38 92% 50%;
  --warning-foreground: 48 96% 89%;
}

.dark {
  --primary: 240, 100%, 27%;
  --hover-primary: 240, 100%, 25%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --warning: 48 96% 89%;
  --warning-foreground: 38 92% 50%;
}
