.home-header-style {
  background: white;
  height: 100px;
  line-height: 100px;
  padding-inline: 0;
  position: sticky;
  top: 0;
  z-index: 4;
  width: 100%;
}

.header-menu-item {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.5);
}

.fund-now-button {
  border-radius: 9px;
  width: 127px;
  height: 44px;
}

.sign-up-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #0300b4;
}

.login-button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  border-radius: 9px;
  width: 127px;
  height: 44px;
}

.hamburger-button {
  padding: 0 0;
}

.drawer-title-div {
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 15px;
  height: 52px;
  padding-left: 25px;
}

.drawer-title-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
}

.drawer-account-pages-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  color: #1a2155;
}
